{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bek Bola</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tuygunov Asadbek: Shaxsiy blog Shaxsiy fikrlar "/>
    <meta name="keywords" content="my blog, bekbola.uz, asadbek, dasturchi,"/>
    <meta name="author" content="bekbola.uz"/>

    <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FreeHTML5.co

    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    Twitter: 		http://twitter.com/fh5co
    Facebook: 		https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

    <script src="{% static 'js/like.js' %}"></script>


</head>
<body>


<body>

<!-- Header -->
<div class="fh5co-loader"></div>
<div id="page">
    <header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t js-fullheight">
                        <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                            <div class="profile-thumb" style="background: url({% static 'images/ava2.png' %});"></div>
                            <h1><span>AsAdbeK TuYguNoV</span></h1>
                            <h3><span>hello to those who know me / even those who don't know</span></h3>
                            <p>
                            <ul class="fh5co-social-icons">
                                <li><a href="{% url 'photo' %}">Photos</a></li>
                                <li><a href="{% url 'important_events' %}">Results</a></li>
                                <li><a href="{% url 'idea_blog' %}">Thoughts</a></li>
                                <li><a href="{% url 'checkview'  %}">chat</a></li>
                              {% if request.user.is_staff %}
                                <li><a href="{% url 'get_room'  %}">chats</a></li>
                                <li><a href="{% url 'document'  %}">document</a></li>
                              {% endif %}
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About -->
    <div id="fh5co-about" class="animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>About Me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <ul class="info">
                        <li><span class="first-block">Full Name:</span><span
                                class="second-block">AsAdbek Tuyg`unov</span></li>
                        <li><span class="first-block">Phone:</span><span class="second-block">+99899 6899996</span></li>
                        <li><span class="first-block">telegram:</span><a href="https://t.me/bek_dew"><span
                                class="second-block">Bek dev</span></a></li>
                        <li><span class="first-block">Website:</span><span class="second-block">bekbola.uz</span></li>
                        <li><span class="first-block">Address:</span><span class="second-block">I am from Moon 🌚</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h2>Hello There!</h2>
                    <p>Qiziqishlarim, orzularim va maqsadlarim ortidan ketayotgan bir insonman. </p>
                    <p>Juda dangasaman lekin emaklab bo'lsa ham oldinga ketayapman. Bilganlarim qanchaligini bilmayman
                        lekim bilmaganlarim juda ko'p</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Idea Blog -->

    <div id="fh5co-resume" class="fh5co-bg-color">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>My thoughts</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="timeline">
                        <li class="timeline-heading text-center animate-box">
                            <div><h3>just read it </h3></div>
                            {% for idea in ideas|slice:"8" %}
                        <li class="animate-box {% if forloop.counter0|divisibleby:2 %}timeline-unverted{% else %}timeline-inverted{% endif %}">
                            <div class="timeline-badge"><i class="icomoon icon-cool"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title"> {{ idea.title }} </h3>
                                </div>
                                <div class="timeline-body">
                                    <p>{{ idea.body }}</p><br>
                                </div>
                                <div class="timeline-heading">
                                    <span class="company">{{ idea.created_time }}</span>
                                    <div class="like-section">
                                        <i id="like-icon-{{ idea.id }}" class="icon-heart2 like-icon"
                                           onclick="likeIdea({{ idea.id }})"
                                           style="cursor: pointer; color: {% if idea.user_has_liked %}red{% else %}black{% endif %};"></i>
                                        <span id="likes-count-{{ idea.id }}">{{ idea.like }}</span>
                                    </div>

                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <br>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Photo -->

    <div id="fh5co-work" class="fh5co-bg-color">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <a href="{% url 'photo' %}"><h2>photos</h2></a>
                </div>
            </div>
            <div class="row">
                {% for photo in photos|slice:"8" %}
                <div class="col-md-3 text-center col-padding animate-box">
                    <a href="#" class="work" style="background-image: url({{ photo.image.url }});">
                        <div class="desc">
                            <h3>{{ photo.title }}</h3>
                            <span>{{ photo.created_time }}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Futer -->

<div id="fh5co-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; Personal blog, Personal thoughts<br>email : <a
                        href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrdlWHzQNtDDXRvsMQVBnxkBXsQRNDPpCJNBFXXzNFBDWFWfSBpjwhLRnrkLBFXDsbMZWL"
                        target="_blank">yozishmalarga o'tish</a> git hub: <a href="https://github.com/asadbek000002"
                                                                             target="_blank">profilga Kirish</a></p>
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Stellar Parallax -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Easy PieChart -->
<script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="{% static 'js/google_map.js' %}"></script>

<!-- Main -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

